*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 15px;
}
.tablesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.removeNames{
    width: 250px;
    text-align: center;
}
.tableBrothersNames{
    margin: 5px;
}
.tableSistersNames{
    margin: 5px;
}
.tablesContainerAssignments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.tablesContainerAssignments div{
    margin-right: 25px;
}